:root {
  --bg-color: #121212;
  --card-color: #1e1e2f;
  --text-color: #ffffff;
  --main-color: #00d9ff;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  text-align: center;
  padding: 2rem 1rem;
  background-color: var(--card-color);
  color: var(--main-color);
  font-size: 1.5rem;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.container {
  background-color: var(--card-color);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 217, 255, 0.2);
  text-align: center;
  max-width: 500px;
  width: 100%;
}

#verso {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: #dcdcdc;
}

button {
  background-color: var(--main-color);
  color: var(--bg-color);
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #00bcd4;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--card-color);
  font-size: 0.9rem;
  color: #aaa;
}

@media (max-width: 600px) {
  .container {
    padding: 1.5rem;
  }

  #verso {
    font-size: 1rem;
  }
}

#compartilhar-container {
  text-align: center;
  margin-top: 1rem;
}

#btnCompartilhar {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--main-color);
  border: none;
  border-radius: 8px;
  color: var(--text-color);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#btnCompartilhar:hover {
  background-color: rgb(19, 158, 168);
}

#redes-sociais a {
  margin: 0 0.5rem;
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
}
